* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.masthead {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  color: rgb(18, 57, 13);
}
h1 {
  font-family: 'Patua One', cursive;
  font-size: 4em;
}
.map {
 position: absolute;
 border: 5px solid tomato;
 max-width: 80%;
 top: 200px;
 /*margin-left: auto;
 margin-right: auto;
 display: block;*/
 left: 20%;
 transform: translate(-12.5%,0);
 margin-bottom: 0px;
}
.map img {
  max-width: 100%;
  display: block;
}

.pin1 {
  position: absolute;
  top: 22%;
  left: 60%;
  z-index: 1;
}
.pin1text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin1:hover > .pin1text {
  display: block;
}
.pin2 {
  position: absolute;
  top: 52%;
  left: 27%;
}
.pin2text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin2:hover > .pin2text {
  display: block;
}

.pin3 {
  position: absolute;
  top: 25%;
  left: 8%;
}
.pin3text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin3:hover > .pin3text {
  display: block;
}

.pin4 {
  position: absolute;
  top: 58%;
  left: 59%;
}
.pin4text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin4:hover > .pin4text {
  display: block;
}

.pin5 {
  position: absolute;
  top: 13%;
  left: 55%;
  z-index: 2
}
.pin5text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin5:hover > .pin5text {
  display: block;
}
.pin6 {
  position: absolute;
  top: 74%;
  left: 90%;
}
.pin6text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin6:hover > .pin6text {
  display: block;
}

.pin7 {
  position: absolute;
  top: 50%;
  left: 50%;
}
.pin7text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin7:hover > .pin7text {
  display: block;
}

.pin8 {
  position: absolute;
  top: 21%;
  left: 75%;
}
.pin8text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin8:hover > .pin8text {
  display: block;
}

.pin9 {
  position: absolute;
  top: 22%;
  left: 70%;
}
.pin9text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin9:hover > .pin9text {
  display: block;
}

.pin10 {
  position: absolute;
  top: 18%;
  left: 7%;
}
.pin10text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin10:hover > .pin10text {
  display: block;
}
