* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  overflow: hidden;
}
#container {
  background-color: rgb(102, 113, 129);
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 23px;
  height: 1200px;
}

p {
  font-size: 10pt;
}
li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(218, 218, 218);
}
li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.left-triangle {
  position: absolute;
  left: 0px;
  bottom: 80px;
  border-left: 25px solid transparent;
  border-bottom: 25px solid rgb(26, 34, 37);
  width: 25px;
}
.right-triangle {
  position: absolute;
  right: 0px;
  bottom: 80px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid rgb(26, 34, 37);
  width: 25px;
}
.navbar {
  position: absolute;
  box-shadow: 0px 0px 34px black;
  bottom: 0;
  background-color: rgb(26, 34, 37);
  width: 100%;
  margin-top: 30px;
  padding: 30px;
}

h4 {
  margin-top: 5px;
  font-weight: bolder;
}

h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

#container {
  padding: 140px;

}

.masthead {
  position: relative;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.imagelogo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);

}

.mastheadtext {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translate(-50%, 0);
}
h1 {
  font-size: 3em;
}
.map {
  position: relative;
  max-width: 1350px;
  /*min-width: 1350px;*/
  left: 50%;
  transform: translate(-50%,0);
}
.map img:not(.mapimg) {
  filter: grayscale();
}
.map img {
  max-width: 100%;

  display: block;
}
.mapimg {
  filter: grayscale();
}

.pin1 {
  position: absolute;
  top: 44%;
  left: 62%;
  z-index: 1;
}
.pin1text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin1:hover > .pin1text {
  display: block;
}
.pin2 {
  position: absolute;
  top: 68%;
  left: 30%;
}
.pin2text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin2:hover > .pin2text {
  display: block;
}

.pin3 {
  position: absolute;
  top: 47%;
  left: 13%;
}
.pin3text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin3:hover > .pin3text {
  display: block;
}

.pin4 {
  position: absolute;
  top: 70%;
  left: 59%;
}
.pin4text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin4:hover > .pin4text {
  display: block;
}

.pin5 {
  position: absolute;
  top: 35%;
  left: 55%;
  z-index: 2
}
.pin5text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin5:hover > .pin5text {
  display: block;
}
.pin6 {
  position: absolute;
  top: 89%;
  left: 89%;
}
.pin6text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin6:hover > .pin6text {
  display: block;
}

.pin7 {
  position: absolute;
  top: 60%;
  left: 52%;
}
.pin7text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin7:hover > .pin7text {
  display: block;
}

.pin8 {
  position: absolute;
  top: 42%;
  left: 74%;
}
.pin8text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin8:hover > .pin8text {
  display: block;
}

.pin9 {
  position: absolute;
  top: 44%;
  left: 73%;
}
.pin9text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin9:hover > .pin9text {
  display: block;
}

.pin10 {
  position: absolute;
  top: 41%;
  left: 12%;
}
.pin10text {
  display: none;
  position: relative;
  background: rgba(215, 215, 215, 0.7);
  padding: 10px;
  top: -50px;
  left: 50px;

}
.pin10:hover > .pin10text {
  display: block;
}
